<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset("images/favicon.png") }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" title="timeline-styles"
          href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" title="timeline-styles"
          href="https://cdn.knightlab.com/libs/timeline3/latest/css/fonts/font.ubuntu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>

<nav id="NavBar" class="navbar navbar-expand-md navbar-dark py-4">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{{ asset("images/logo.png") }}" alt="OakAndAspen" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% set links = ['Blog', 'Timeline', 'Work', 'Life', 'Contact'] %}
                {% for link in links %}
                    {% set uri = "/" ~ link|lower  %}
                    {% set active = app.request.requestUri == uri ? " active" : "" %}
                    <li class="nav-item">
                        <a class="nav-link{{ active }}" href="/{{ link|lower }}">{{ link }}</a>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link text-info" href="https://github.com/OakAndAspen"
                       title="Find me on Github" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info" href="https://www.linkedin.com/in/irina-despot/"
                       title="Find me on LinkedIn" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
{% block javascripts %}{% endblock %}

</body>
</html>
